<ion-view view-title="列表 - {{ ctype() }}">
  <ion-content>
    <ion-refresher pulling-text="刷新..." on-refresh="refresh()"></ion-refresher>
    <ion-list>
      <ion-item ng-repeat="post in posts" href="#/app/blogs/{{post.id}}">
        <h2>
        	{{post.title}}
        </h2>
        <p>
          <ul class='archive-list'>
            <li>
              <i class="icon ion-calendar"></i>
              {{ post.created_at }}
            </li>
            <li>
              <i class="icon ion-person-stalker"></i>
              {{ post.visited_count }}
            </li>
            <li>
              <i class="icon ion-heart"></i>
              {{ post.liked_count}}
            </li>
          </ul>
          <ul class="archive-list">
            <li>
              <i class="icon ion-navicon-round"></i>
              {{ post.type }}
            </li>
            <li>
              <i class="icon ion-pricetags"></i>
              {{ post.labels }}
            </li>
          </ul>
        </p>
      </ion-item>
    </ion-list>
    <div class="text-center has-padding">
    	<button class="button button-light" ng-click='load()' ng-hide='loading'>
    	  Load more
    	</button>
    <div class='text-center refresher-wrapper' ng-show='loading'>
    	<i class="icon ion-loading-d"></i>
    </div>
  </ion-content>
</ion-view>
