<ion-view view-title="WinDy's Blog">
  <ion-content class='has-header padding'>
    <h1>{{ post.title }}</h1>
    <p class="ptag">
      <span>
      	<i class="icon ion-navicon-round"></i>
      	{{ post.type }}
      </span>
      <span>
      	<i class="icon ion-pricetags"></i>
      	{{ post.labels_content }}
      </span>
    </p>

    <div class="markdown content" ng-bind-html='fix_image_html(post.sub_content)'>
    </div>

    <button class="button button-light" ng-click='visit(post.id)'>阅读全文 >></button>

    <p class="created-at">
      发表于: {{ post.created_at | date : 'yyyy-M-d' : 'UTC'}}
    </p>
  </ion-content>
</ion-view>
