<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.wblog501062" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>wblog</name>
  <description>
        WinDy's Blog
  </description>
  <author email="lyfi2003@gmail.com" href="http://yafeilee">
    Li Yafei
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <platform name="ios">

    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch -->
    <icon src="icons/ios/icon-60@2x.png" width="120" height="120" />

    <!-- iPad -->
    <icon src="icons/ios/icon-76.png" width="76" height="76" />
    <icon src="icons/ios/icon-76@2x.png" width="152" height="152" />
  </platform>

</widget>
